header > h1 {
  text-align: center;
}

.main-content {
  margin-bottom: 72px;
}

.select-breed {
  width: 100%;
  text-align: center;
  margin: 36px 0;
}

footer {
  background-color: burlywood;
  bottom: 0;
  color: white;
  padding: 1em;
  position: fixed;
  text-align: center;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 90%;
  padding: 5%;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.menu__item {
  width: fit-content;
  height: 3em;
  background-color: brown;
  color: ivory;
  border-radius: 20%;
  border: none;
}

.menu__item:hover {
  filter: brightness(130%);
  cursor: pointer;
}

.menu__item:focus {
  filter: brightness(130%);
}

.breedname {
  text-align: center;
}

.dog-screen__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.dog__img {
  width: fit-content;
  max-width: 80vw;
  border-radius: 10%;
  height: 60vh;
}

.back-button {
  background-color: brown;
  border-radius: 100%;
  border: none;
  color: ivory;
  padding: 12px;
  margin: 24px;
}

.back-button:hover {
  filter: brightness(130%);
  cursor: pointer;
}
